<!-- views/partials/head.ejs -->
<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
      <meta content="Dashboard" name="author">
        <meta content="Dashboard, Boostrap, Admin, Template, Theme, Responsive, Fluid, Retina" name="keyword">
          <title>
              CORIDE Philippines
          </title>
          <!-- Bootstrap core CSS -->
          <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
          <link href="/assets/css/vendor.css" rel="stylesheet" type="text/css"/>
          <link href="/assets/js/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
          <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
          <!-- Custom Styles for this template -->
          <link href="/assets/css/style.css" rel="stylesheet"/>
          <link href="/assets/css/style-responsive.css" rel="stylesheet"/>
        </meta>
      </meta>
    </meta>
  </meta>
</meta>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script type="text/javascript" src="app.js"></script>
