<!-- views/partials/header.ejs -->
<div class="header-connect navbar-coride js-scroll-trigger body-is-scrolled">
  <div class="container" >
    <div class="row">
      <div class="navbar-logo col-md-4 col-sm-5 col-xs-12">
        <a class="">
          CORIDE
        </a>
      </div>
      <div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-1 col-xs-12">
        <div class="header-list">
          <ul class="list-inline">
            <li><a href="#home" class="js-scroll-trigger">Home</a></li>
            <li><a href="#transport" class="js-scroll-trigger">Services</a></li>
            <li><a href="#carplus" class="js-scroll-trigger">Car Plus</a></li>
            <li><a href="#blog" class="js-scroll-trigger">Blog</a></li>
            <li><a href="#contact" class="js-scroll-trigger">Contact Us</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Template Navigation -->
