<!DOCTYPE html>
<html lang="en" ng-app="coridePh">
  <head>
    <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
          <meta content="Dashboard" name="author">
            <meta content="Dashboard, Boostrap, Admin, Template, Theme, Responsive, Fluid, Retina" name="keyword">
              <title>
                  CORIDE Philippines
              </title>
              <!-- Bootstrap core CSS -->
              <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
              <link href="/assets/css/vendor.css" rel="stylesheet" type="text/css"/>
              <link href="/assets/js/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
              <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
              <!-- Custom Styles for this template -->
              <link href="/assets/css/style.css" rel="stylesheet"/>
              <link href="/assets/css/style-responsive.css" rel="stylesheet"/>
            </meta>
          </meta>
        </meta>
      </meta>
    </meta>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

</html>
<body>
<!-- Template Navigation Bar for all pages -->
<div class="header-connect navbar-coride js-scroll-trigger ">
  <div class="container" >
    <div class="row">
      <div class="navbar-logo col-md-4 col-sm-2 col-xs-6">
        <a class="">
          CORIDE
        </a>
      </div>
      <div class="pull-right">
        <div class="header-list" id="myHeader-list">
          <ul class="list-inline">
            <li><a href="javascript:void(0);" style="font-size:25px;" class="icon" onclick="myFunction()">&#9776;</a></li>
            <li><a href="/" class="js-scroll-trigger">Home</a></li>
            <li><a href="/#transport" class="js-scroll-trigger">Services</a></li>
            <li><a href="/#carplus" class="js-scroll-trigger">Car Plus</a></li>
            <li><a href="#blog" class="js-scroll-trigger">Blog</a></li>
            <li><a href="#contact" class="js-scroll-trigger">Contact Us</a></li>

          </ul>
          <!--
            <a href="/" class="js-scroll-trigger">Home</a>
            <a href="/#transport" class="js-scroll-trigger">Services</a>
            <a href="/#carplus" class="js-scroll-trigger">Car Plus</a><
            <a href="#blog" class="js-scroll-trigger">Blog</a></li>
            <a href="#contact" class="js-scroll-trigger">Contact Us</a></li>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> -->

        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Template Navigation -->


<!-- MAIN CONTENT here -->
<%- defineContent('slider-area') %>
<%- defineContent('driving') %>

<!-- Footer area-->
<div class="footer-area">

    <div class=" footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>About us </h4>

                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><a>Mission and Purpose</a>  </li>
                            <li><a >Office and People</a>  </li>
                            <li><a >Advertise with CORIDE</a></li>
                            <li><a >Use of PUVs</a></li>
                            <li><a >Jobs/Working with Us</a></li>
                            <li><a >Testimonies</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>NEWS / BLOGS </h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                                              </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">

                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Stay in touch</h4>
                        <div class="footer-title-line"></div>
                        <p>Get to know more of our services and stay up to date by subscribing to our newsletter.</p>

                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="E-mail ... ">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>

                        <div class="social pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <span> (C) <a href="http://www.corideph.com">CORIDE PH</a> , All rights reserved 2018 </span>
                </div>
                <div class="bottom-menu pull-right">
                    <ul>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Bootstrap core JavaScript -->
<script src="assets/js/jquery/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="assets/js/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom JavaScript for this theme -->
<script src="assets/js/scrolling-nav.js"></script>
<script>
function myFunction() {
    var x = document.getElementById("myHeader-list");
    if (x.className === "header-list") {
        x.className += " responsive";
    } else {
        x.className = "header-list";
    }
}
</script>
</body>
