<%- contentFor('driving') %>
<!-- Home Slider -->
<div class="driver-area" >
  <div class="slider-content">
    <div class="row">
      <div class="col-md-12">
        <span class="driving-welcome">
          <h2>GLOBE DRIVING SCHOOL</h2>
        </span>
        <span class="drive-p"> "Be an expert in 5 days" </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="#courses" class="js-scroll-trigger">
          <div class="driving-btn">View Courses</div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#learn" class="js-scroll-trigger">
          <div class="driving-btn-lnk">Learn More</div>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- Transport Services -->
<div class="coride-container" id="learn">
<h2>Driving Lessons Details</h2>
<div class="row">
  <div class="col-md-3">
    <div class="drivecard">
      <div class="drivecard-content">
        <h2>Training Vehicles</h2>
        <p>Avanza, Fortuner, Mazda, Vios, Altis, Honda, Innova, HI-LUX</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="drivecard">
      <div class="drivecard-content">
        <h2>Driving Schedule</h2>
        <p>Monday to Sunday</p>
        <p>7:00am to 8:00pm</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="drivecard">
      <div class="drivecard-content">
        <h2>Licensing Assistance</h2>
        <p>Student Permit, Non and Professional License, International License, Vehicle Registration</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="drivecard">
      <div class="drivecard-content">
        <h2>Contact Numbers</h2>
        <p>Phone: 919-0964</p>
        <p>Mobile: 0998-531-1760</p>
      </div>
    </div>
  </div>
</div>


</div>
<div class="coride-container" id="courses">
  <h2>Courses and Tuition Fees</h2>
</div>
