<%- contentFor('slider-area') %>
<!-- Home Slider -->
<div class="slider-area" id="home">
  <div class="slider-content">
    <div class="row">
      <div class=col-md-5>
        <span class="welcome-msg">
          <h2>Designed for Commuters,<br>
              Partner for travelers <br>
              </h2>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Transport Services -->
<div class="coride-container transport-services" id="transport">
<h2>Transport Services</h2>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="homecard">
        <div class="homecard-image" style="background-image: url(../../assets/img/carrent.jpg)"></div>
        <div class="homecard-content">
          <div class="homecard-txt">
            <ul>
              <li>Choose your own vehicle</li>
              <li>Book anytime and anywhere from and to Luzon</li>
              <li>Respond to emergencies via call</li>
            </ul>
          </div>
          <div class="homecard-btn">Rent a Car</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="homecard">
        <div class="homecard-image" style="background-image: url(../../assets/img/routes.jpg)"></div>
        <div class="homecard-content">
          <div class="homecard-txt">
            <ul>
              <li>View minibuses and solar jeep routes</li>
              <li>Manager your time via P2P bus schedulse</li>
              <li>Monitor arrival and departure of buses in the terminal</li>
            </ul>
          </div>
          <div class="homecard-btn">View Routes</div>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- End of Transport Services -->

<!-- Car plus -->
<div class="coride-container car-plus" id="carplus">
<!--<a href="/driving">Driving School</a>  -->
    <h2>CAR PLUS Services</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="carplus-img"></div>
      </div>
      <div class="col-md-6">
        <div class="row carplus-text">
          <p>Grab Car Plus Services on your needs. From borrowing a money, driving lessons, diversifying
            your investment, to getting a public utility vehicle loan. Choose from interesting choices
            that you can have.
          </noscript></p>
        </div>
        <div class="row">
          <div class="homecard-btn">Lending</div>
          <a href="/driving"><div class="homecard-btn">Driving</div></a>
          <div class="homecard-btn">Investment</div>
          <div class="homecard-btn">PUV Loan</div>
        </div>
      </div>
    </div>
</div>
<!-- End of car plus -->
